.existingCards {
  border: 1px solid cornflowerblue;
  width: 300px;
  display: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  margin: 15px;
}

#search {
  margin: 0px 0px 0px 15px;
  width: 20em;  height: 2em;
}

.charName {
  margin: 15px;
}