

  <!-- <div class="existingCards" *ngFor="let char of characters">
      <div class="charName">{{char.name}}</div>
      <ul>
        <li>Eye color: {{char.eye_color}}</li>
        <li>Height: {{char.height}}</li>
        <li>Mass: {{char.mass}}</li>
        <li>Skin color: {{char.skin_color}}</li>
      </ul>
  </div> -->

<div class="users">Users:</div>
<div class="existingCards" *ngFor="let user of allUsers">
  <div class="users">{{user.name}}</div>
</div>

<div class="contacts">Contacts:</div>
<div class="existingCards" *ngFor="let contact of allContacts">
  <div class="contacts">Name: {{contact.name}}</div>
  <div class="contacts">Address: {{contact.address}}</div>
  <div class="contacts">Mobile: {{contact.mobile}}</div>
  <div class="contacts">Work: {{contact.work}}</div>
  <div class="contacts">Home: {{contact.home}}</div>
  <div class="contacts">Email: {{contact.email}}</div>
  <div class="contacts">Twitter: {{contact.twitter}}</div>
  <div class="contacts">Instagram: {{contact.instagram}}</div>
  <div class="contacts">Github: {{contact.github}}</div>
  <button (click)="delete(contact.contacts_id)" class="btn-submit">Delete</button>
</div>