.existingCards {
  border: 1px solid cornflowerblue;
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  margin: 15px;
}

.users {
  margin: 15px;
}

.contacts {
  margin: 15px;
}